openapi: 3.2.0
info:
  title: Reference Posts API
  version: 1.0.0
servers:
- url: https://api.beehiiv.com/v2
  description: Default
tags:
- name: Posts
paths:
  /publications/{publicationId}/posts:
    post:
      operationId: create
      summary: 'Create post <Badge intent="info" minimal outlined>OAuth Scope: posts:write</Badge>'
      description: "<Note title=\"Available on the Max and Enterprise plans\">\n  This endpoint is available to publications on the Max and Enterprise plans.\n</Note>\nCreate a post for a specific publication. For a detailed walkthrough including setup, testing workflows, and working with custom HTML and templates, see the <a href=\"https://www.beehiiv.com/support/article/36759164012439-using-the-send-api-and-create-post-endpoint\">Using the Send API and Create Post Endpoint</a> guide.\n\n## Asynchronous creation\n\nPost creation is processed in the background. This endpoint returns `201` immediately with the post's `id`, but the post is not finished being created at that moment. The returned `id` is stable — it is the same id the post will have once creation completes.\n\nIf you fetch the post (`GET /publications/{publicationId}/posts/{postId}`) right away, it may not exist yet. In that case the fetch returns `202` (still being created) — wait briefly and retry, honoring the `Retry-After` header. If background creation fails, the fetch returns `404` with the error code `POST_CREATION_FAILED`, so you should stop retrying, verify your request, and try creating the post again.\n\n## Content methods\n\nThere are three ways to provide content for a post. You must provide either `blocks` or `body_content`, but not both.\n\n### 1. Blocks\n\nUse the `blocks` field to build your post with structured content blocks such as paragraphs, images, headings, buttons, tables, and more. Each block has a `type` and its own set of properties. This method gives you fine-grained control over individual content elements and supports features like visual settings, visibility settings, and dynamic content targeting.\n\n### 2. Raw HTML (`body_content`)\n\nUse the `body_content` field to provide a single string of raw HTML. The HTML is wrapped in an `htmlSnippet` block internally. This is useful when you have pre-built HTML content or are migrating from another platform.\n\n### 3. HTML blocks within blocks\n\nUse `type: html` blocks inside the `blocks` array to embed raw HTML snippets alongside other structured blocks. This lets you mix structured content (paragraphs, images, etc.) with custom HTML where needed.\n\n## CSS and styling guardrails\n\nbeehiiv processes all HTML content through a sanitization pipeline. When using `body_content` or `html` blocks, be aware of the following:\n\n- **`<style>` tags are removed.** All `<style>` block elements are stripped during sanitization. Do not rely on embedded stylesheets.\n- **`<link>` tags are removed.** External stylesheet references are not allowed.\n- **Inline styles are preserved.** Styles applied directly to elements via the `style` attribute (e.g., `<div style=\"color: red;\">`) are kept intact.\n- **CSS classes have no effect.** While class attributes are not stripped, no corresponding stylesheets are loaded to apply them.\n- **beehiiv's email template wraps your content.** Your HTML is rendered inside beehiiv's email table structure, which applies its own layout and spacing. This may affect the appearance of your content.\n- **Use inline styles for all visual styling.** Since `<style>` and `<link>` tags are removed, inline styles on individual elements are the only reliable way to control appearance."
      tags:
      - Posts
      parameters:
      - name: publicationId
        in: path
        description: The prefixed ID of the publication object
        required: true
        schema:
          $ref: '#/components/schemas/type_ids_PublicationId'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_posts_PostsCreateResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
        '401':
          description: Unauthorized. The API key or OAuth access token is missing, invalid, or expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                blocks:
                  type: array
                  items:
                    $ref: '#/components/schemas/type_posts_Block'
                  description: The structured content blocks that make up the post. Supports block types such as paragraph, image, heading, button, html, table, list, columns, and more. You can embed raw HTML snippets within blocks using the `html` block type. Either this field OR the `body_content` field must be provided.
                body_content:
                  type: string
                  description: The content of the post as a single raw HTML string. The HTML is wrapped in an `htmlSnippet` block internally. Note that `<style>` and `<link>` tags are removed during sanitization — use inline styles for all visual styling. Either this field OR the `blocks` field must be provided.
                title:
                  type: string
                  description: The title of the post.
                subtitle:
                  type: string
                  description: The subtitle of the post.
                post_template_id:
                  $ref: '#/components/schemas/type_ids_PostTemplateId'
                  description: The ID of the template to use for the post. If not provided, the default template will be used.
                status:
                  $ref: '#/components/schemas/type_posts_PostPublishStatus'
                  description: The status of the post. If not provided, the default (`draft`) value will be used and the post will not be scheduled or published. Explicitly pass `confirmed` to have the post publish immediately (if no `scheduled_at` is provided) or at the `scheduled_at` time.
                scheduled_at:
                  type: string
                  format: date-time
                  description: The time in which the post will be published. If not provided, the post will be published immediately unless `status` is set to `draft`. A draft post cannot be scheduled.
                custom_link_tracking_enabled:
                  type: boolean
                  description: If true, custom link tracking will be enabled for this post. If not provided, the default value will be used.
                email_capture_type_override:
                  $ref: '#/components/schemas/type_posts_PostEmailCaptureTypeOverride'
                  description: The email capture type to use for this post. If not provided, the default value will be used.
                override_scheduled_at:
                  type: string
                  format: date-time
                  description: If you wish to display a date other than the scheduled_at date in the email, you can provide a date here. This will not affect the actual publish date of the post.
                social_share:
                  $ref: '#/components/schemas/type_posts_PostSocialShare'
                  description: The social share type to use for this post. If not provided, the default value will be used.
                thumbnail_image_url:
                  type: string
                  description: The URL of the thumbnail image to use for the post. If not provided, the default value will be used.
                recipients:
                  $ref: '#/components/schemas/type_posts_PostRecipients'
                  description: The recipients to use for this post. If not provided, the default value will be used.
                email_settings:
                  $ref: '#/components/schemas/type_posts_PostEmailSettings'
                  description: The email settings to use for this post. If not provided, the default value will be used.
                web_settings:
                  $ref: '#/components/schemas/type_posts_PostWebSettings'
                  description: The web settings to use for this post. If not provided, the default value will be used.
                seo_settings:
                  $ref: '#/components/schemas/type_posts_PostMetadata'
                  description: The metadata to use for this post. If not provided, the default value will be used.
                content_tags:
                  type: array
                  items:
                    type: string
                  description: The content tags to use for this post. If not provided, the default value will be used.
                guest_author_ids:
                  type: array
                  items:
                    $ref: '#/components/schemas/type_ids_GuestAuthorId'
                  description: The prefixed IDs of the guest authors to associate with this post. Guest authors must belong to the publication. Obtain IDs from the List Authors endpoint. When provided, replaces all existing guest authors on the post.
                team_author_ids:
                  type: array
                  items:
                    $ref: '#/components/schemas/type_ids_TeamAuthorId'
                  description: The prefixed IDs of the team members to associate with this post as authors. Team authors must have access to the publication. Note the List Authors endpoint only returns team members who already have a byline on a published post in this publication, so it will not surface IDs for a team member's first assignment. When provided, replaces all existing team authors on the post.
                headers:
                  type: object
                  additionalProperties:
                    type: string
                  description: The headers to use for this post. If not provided, the default value will be used.
                custom_fields:
                  type: object
                  additionalProperties:
                    type: string
                  description: The custom fields to use for this post. If not provided, the default value will be used.
                newsletter_list_id:
                  type: string
                  description: The prefixed ID of the newsletter list to associate with this post. When provided, the post will only be sent to subscribers of this list.
              required:
              - title
    get:
      operationId: index
      summary: 'List posts <Badge intent="info" minimal outlined>OAuth Scope: posts:read</Badge>'
      description: Retrieve all posts belonging to a specific publication
      tags:
      - Posts
      parameters:
      - name: publicationId
        in: path
        description: The prefixed ID of the publication object
        required: true
        schema:
          $ref: '#/components/schemas/type_ids_PublicationId'
      - name: expand
        in: query
        description: Optionally expand the results by adding additional information. <br>`stats` - Adds statistics about the post(s). <br>`free_web_content` - Adds the web HTML rendered to a free reader. <br>`free_email_content` - Adds the email HTML rendered to a free reader. <br>`free_rss_content` - Adds the RSS feed HTML. <br>`premium_web_content` - Adds the web HTML rendered to a premium reader. <br>`premium_email_content` - Adds the email HTML rendered to a premium reader.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/type_posts_PostExpandField'
      - name: audience
        in: query
        description: Optionally filter the results by audience
        required: false
        schema:
          $ref: '#/components/schemas/type_posts_PostAudienceFilter'
      - name: platform
        in: query
        description: Optionally filter the results by platform.<br>`web` - Posts only published to web.<br>`email` - Posts only published to email.<br>`both` - Posts published to email and web.<br>`all` - Does not restrict results by platform.
        required: false
        schema:
          $ref: '#/components/schemas/type_posts_PostPlatformFilter'
      - name: status
        in: query
        description: Optionally filter the results by the status of the post.<br>`draft` - not been scheduled.<br>`confirmed` - The post will be active after the `scheduled_at`.<br>`archived` - The post is no longer active.<br>`all` - Does not restrict results by status.
        required: false
        schema:
          $ref: '#/components/schemas/type_posts_PostStatusFilter'
      - name: content_tags[]
        in: query
        description: 'Optionally filter posts by content_tags. Adding a content tag will return any post with that content tag associated to it.<br><br><b>Example</b>: Filtering for `content_tags: ["sales","closing"]` will return results of posts that have *either* `sales` or `closing` content_tags.'
        required: false
        schema:
          type: array
          items:
            type: string
      - name: slugs[]
        in: query
        description: 'Optionally filter posts by their slugs. Adding a slug will return any post with that exact slug associated to it.<br><br><b>Example:</b> Filtering for `slugs: ["my-first-post","another-post"]` will return results of posts that have *either* `my-first-post` or `another-post` as their slug.'
        required: false
        schema:
          type: array
          items:
            type: string
      - name: authors[]
        in: query
        description: 'Optionally filter posts by their authors. Adding an author name will return any post with that author associated to it (case-insensitive).<br><br><b>Example:</b> Filtering for `authors: ["John Doe","Jane Smith"]` will return results of posts that have *either* John Doe or Jane Smith as authors.'
        required: false
        schema:
          type: array
          items:
            type: string
      - name: premium_tiers
        in: query
        description: 'Optionally filter posts by audience based on premium tiers.<br> This takes in an array of Display Names of the premium tiers.<br> It will also scope any expanded content output to the specified premium tiers.<br> Note: This is case insensitive.'
        required: false
        schema:
          type: array
          items:
            type: string
      - name: limit
        in: query
        description: A limit on the number of objects to be returned. The limit can range between 1 and 100, and the default is 10.
        required: false
        schema:
          type: integer
      - name: page
        in: query
        description: 'Pagination returns the results in pages. Each page contains the number of results specified by the `limit` (default: 10).<br>If not specified, results 1-10 from page 1 will be returned.'
        required: false
        schema:
          type: integer
      - name: order_by
        in: query
        description: The field that the results are sorted by. Defaults to created<br> `created` - The time in which the post was first created.<br> `publish_date` - The time the post was set to be published.<br> `displayed_date` - The time displayed in place of the `publish_date`. If no `displayed_date` was set, it will default to the `publish_date`
        required: false
        schema:
          $ref: '#/components/schemas/type_posts_PostOrderBy'
      - name: direction
        in: query
        description: The direction that the results are sorted in. Defaults to asc<br> `asc` - Ascending, sorts from smallest to largest.<br> `desc` - Descending, sorts from largest to smallest.
        required: false
        schema:
          $ref: '#/components/schemas/type__RequestDirection'
      - name: hidden_from_feed
        in: query
        description: Optionally filter the results by the `hidden_from_feed` attribute of the post.<br>`all` - Does not restrict results by `hidden_from_feed`.<br>`true` - Only return posts hidden from the feed.<br>`false` - Only return posts that are visible on the feed.
        required: false
        schema:
          $ref: '#/components/schemas/type_posts_PostsListRequestHiddenFromFeed'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_posts_PostsListResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
        '401':
          description: Unauthorized. The API key or OAuth access token is missing, invalid, or expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
  /publications/{publicationId}/posts/{postId}:
    patch:
      operationId: update
      summary: 'Update post <Badge intent="info" minimal outlined>OAuth Scope: posts:write</Badge>'
      description: "<Note title=\"Available on the Max and Enterprise plans\">\n  This endpoint is available to publications on the Max and Enterprise plans.\n</Note>\nUpdate an existing post for a specific publication. Only the fields provided in the request body will be updated — all other fields remain unchanged. For a detailed walkthrough of content methods and working with custom HTML, see the <a href=\"https://www.beehiiv.com/support/article/36759164012439-using-the-send-api-and-create-post-endpoint\">Using the Send API and Create Post Endpoint</a> guide.\n\nTo update post content, provide either `blocks` or `body_content` (not both). If neither is provided, the existing content is preserved. The same content methods and CSS guardrails described in the create endpoint apply here."
      tags:
      - Posts
      parameters:
      - name: publicationId
        in: path
        description: The prefixed ID of the publication object
        required: true
        schema:
          $ref: '#/components/schemas/type_ids_PublicationId'
      - name: postId
        in: path
        description: The prefixed ID of the post to update
        required: true
        schema:
          $ref: '#/components/schemas/type_ids_PostId'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_posts_PostsGetResponse'
        '202':
          description: The post was created via the Send API and is still being processed in the background. Wait briefly and retry, honoring the `Retry-After` header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__PostProcessing'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
        '401':
          description: Unauthorized. The API key or OAuth access token is missing, invalid, or expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                content_merge_strategy:
                  $ref: '#/components/schemas/type_posts_ContentMergeStrategy'
                  description: Controls how provided `blocks` interact with the post's existing content. Defaults to `replace`. Use `append_to_template` to preserve template header blocks when updating posts that were created from a template.
                blocks:
                  type: array
                  items:
                    $ref: '#/components/schemas/type_posts_Block'
                  description: 'The structured content blocks for the post. How these interact with existing content depends on `content_merge_strategy` (default: full replacement). Supports block types such as paragraph, image, heading, button, html, table, list, columns, and more. Cannot be provided together with `body_content`.'
                body_content:
                  type: string
                  description: Raw HTML to replace the post's current content. The HTML is wrapped in an `htmlSnippet` block internally. Note that `<style>` and `<link>` tags are removed during sanitization — use inline styles for all visual styling. Cannot be provided together with `blocks`.
                title:
                  type: string
                  description: The title of the post.
                subtitle:
                  type: string
                  description: The subtitle of the post.
                scheduled_at:
                  type: string
                  format: date-time
                  description: The time at which the post will be published. Cannot be updated after the post has already been sent.
                custom_link_tracking_enabled:
                  type: boolean
                  description: If true, custom link tracking will be enabled for this post.
                email_capture_type_override:
                  $ref: '#/components/schemas/type_posts_PostEmailCaptureTypeOverride'
                  description: The email capture type to use for this post.
                override_scheduled_at:
                  type: string
                  format: date-time
                  description: A display date that overrides the scheduled_at date shown in the email. Does not affect the actual publish date.
                social_share:
                  $ref: '#/components/schemas/type_posts_PostSocialShare'
                  description: The social share type to use for this post.
                thumbnail_image_url:
                  type: string
                  description: The URL of the thumbnail image to use for the post.
                email_settings:
                  $ref: '#/components/schemas/type_posts_PostEmailSettings'
                  description: The email settings to use for this post. Only the provided fields within this object will be updated.
                web_settings:
                  $ref: '#/components/schemas/type_posts_PostWebSettings'
                  description: The web settings to use for this post. Only the provided fields within this object will be updated.
                seo_settings:
                  $ref: '#/components/schemas/type_posts_PostMetadata'
                  description: The SEO metadata to use for this post. Only the provided fields within this object will be updated.
                status:
                  $ref: '#/components/schemas/type_posts_PostPublishStatus'
                  description: Transition the post's status. Use `confirmed` to schedule or publish a draft post. Only the `draft` → `confirmed` transition is supported — a confirmed post cannot be moved back to `draft`.
                content_tags:
                  type: array
                  items:
                    type: string
                  description: The content tags for this post. When provided, this replaces all existing content tags on the post.
                headers:
                  type: object
                  additionalProperties:
                    type: string
                  description: Custom email headers for this post. Merges with publication-level headers at send time. System-managed headers (e.g. List-Unsubscribe, X-SMTPAPI) cannot be overridden.
                guest_author_ids:
                  type: array
                  items:
                    $ref: '#/components/schemas/type_ids_GuestAuthorId'
                  description: The prefixed IDs of the guest authors to associate with this post. Guest authors must belong to the publication. When provided, replaces all existing guest authors on the post.
                team_author_ids:
                  type: array
                  items:
                    $ref: '#/components/schemas/type_ids_TeamAuthorId'
                  description: The prefixed IDs of the team members to associate with this post as authors. Team authors must have access to the publication. When provided, replaces all existing team authors on the post.
                recipients:
                  $ref: '#/components/schemas/type_posts_PostRecipients'
                  description: The recipients for this post. When provided, replaces all existing web and email audience targets with the specified values. If omitted, existing targets are unchanged.
                newsletter_list_id:
                  type: string
                  description: The prefixed ID of the newsletter list to associate with this post. When provided, updates the newsletter list association. Pass null to remove the association.
    get:
      operationId: show
      summary: 'Get post <Badge intent="info" minimal outlined>OAuth Scope: posts:read</Badge>'
      description: 'Retrieve a single Post belonging to a specific publication.


        Posts created via the Send API are built asynchronously, so a recently created post may not exist yet. When the post is still being created, this endpoint returns `202` (still being created) with a `Retry-After` header — wait briefly and retry. If background creation failed, it returns `404` with the error code `POST_CREATION_FAILED`, indicating the post will never become available; verify your request and try creating it again.'
      tags:
      - Posts
      parameters:
      - name: publicationId
        in: path
        description: The prefixed ID of the publication object
        required: true
        schema:
          $ref: '#/components/schemas/type_ids_PublicationId'
      - name: postId
        in: path
        description: The prefixed ID of the post object
        required: true
        schema:
          $ref: '#/components/schemas/type_ids_PostId'
      - name: expand
        in: query
        description: Optionally expand the results by adding additional information. <br>`stats` - Adds statistics about the post(s). <br>`free_web_content` - Adds the web HTML rendered to a free reader. <br>`free_email_content` - Adds the email HTML rendered to a free reader. <br>`free_rss_content` - Adds the RSS feed HTML. <br>`premium_web_content` - Adds the web HTML rendered to a premium reader. <br>`premium_email_content` - Adds the email HTML rendered to a premium reader.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/type_posts_PostExpandField'
      - name: premium_tiers
        in: query
        description: 'Scope any expanded content output to the specified premium tiers.<br> This takes in an array of Display Names of the premium tiers.<br> Note: This is case insensitive.'
        required: false
        schema:
          type: array
          items:
            type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_posts_PostsGetResponse'
        '202':
          description: The post was created via the Send API and is still being processed in the background. Wait briefly and retry, honoring the `Retry-After` header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__PostProcessing'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
        '401':
          description: Unauthorized. The API key or OAuth access token is missing, invalid, or expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
    delete:
      operationId: delete
      summary: 'Delete post <Badge intent="info" minimal outlined>OAuth Scope: posts:write</Badge>'
      description: Delete or Archive a post. Any post that has been confirmed will have it's status changed to `archived`. Posts in the `draft` status will be permanently deleted.
      tags:
      - Posts
      parameters:
      - name: publicationId
        in: path
        description: The prefixed ID of the publication object
        required: true
        schema:
          $ref: '#/components/schemas/type_ids_PublicationId'
      - name: postId
        in: path
        description: The prefixed ID of the post object
        required: true
        schema:
          $ref: '#/components/schemas/type_ids_PostId'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '202':
          description: The post was created via the Send API and is still being processed in the background. Wait briefly and retry, honoring the `Retry-After` header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__PostProcessing'
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_posts_PostsDeleteResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
        '401':
          description: Unauthorized. The API key or OAuth access token is missing, invalid, or expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
  /publications/{publicationId}/posts/aggregate_stats:
    get:
      operationId: aggregate-stats
      summary: 'Get aggregate stats <Badge intent="info" minimal outlined>OAuth Scope: posts:read</Badge>'
      description: Retrieve aggregate stats for all posts
      tags:
      - Posts
      parameters:
      - name: publicationId
        in: path
        description: The prefixed ID of the publication object
        required: true
        schema:
          $ref: '#/components/schemas/type_ids_PublicationId'
      - name: audience
        in: query
        description: Optionally filter the results by audience
        required: false
        schema:
          $ref: '#/components/schemas/type_posts_PostAudienceFilter'
      - name: platform
        in: query
        description: Optionally filter the results by platform.<br>`web` - Posts only published to web.<br>`email` - Posts only published to email.<br>`both` - Posts published to email and web.<br>`all` - Does not restrict results by platform.
        required: false
        schema:
          $ref: '#/components/schemas/type_posts_PostPlatformFilter'
      - name: status
        in: query
        description: Optionally filter the results by the status of the post.<br>`draft` - not been scheduled.<br>`confirmed` - The post will be active after the `scheduled_at`.<br>`archived` - The post is no longer active.<br>`all` - Does not restrict results by status.
        required: false
        schema:
          $ref: '#/components/schemas/type_posts_PostStatusFilter'
      - name: content_tags[]
        in: query
        description: 'Optionally filter posts by content_tags. Adding a content tag will return any post with that content tag associated to it.<br>Example: Filtering for `content_tags: ["sales","closing"]` will return results of posts that have *either* sales or closing content_tags.'
        required: false
        schema:
          type: array
          items:
            type: string
      - name: authors[]
        in: query
        description: 'Optionally filter posts by their authors. Adding an author name will return any post with that author associated to it (case-insensitive).<br><br><b>Example:</b> Filtering for `authors: ["John Doe","Jane Smith"]` will return results of posts that have *either* John Doe or Jane Smith as authors.'
        required: false
        schema:
          type: array
          items:
            type: string
      - name: hidden_from_feed
        in: query
        description: Optionally filter the results by the `hidden_from_feed` attribute of the post.<br>`all` - Does not restrict results by `hidden_from_feed`.<br>`true` - Only return posts hidden from the feed.<br>`false` - Only return posts that are visible on the feed.
        required: false
        schema:
          $ref: '#/components/schemas/type_posts_PostsListRequestHiddenFromFeed'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_posts_PostsAggregateStatsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
        '401':
          description: Unauthorized. The API key or OAuth access token is missing, invalid, or expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
  /publications/{publicationId}/posts/{postId}/test_sends:
    post:
      operationId: test-send
      summary: 'Send test email <Badge intent="info" minimal outlined>OAuth Scope: posts</Badge>'
      description: Send a test email for a specific post to one or more email addresses. Returns the number of remaining test sends for the day and the time at which the limit resets.
      tags:
      - Posts
      parameters:
      - name: publicationId
        in: path
        description: The prefixed ID of the publication object
        required: true
        schema:
          $ref: '#/components/schemas/type_ids_PublicationId'
      - name: postId
        in: path
        description: The prefixed ID of the post object
        required: true
        schema:
          $ref: '#/components/schemas/type_ids_PostId'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_posts_PostsTestSendResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
        '401':
          description: Unauthorized. The API key or OAuth access token is missing, invalid, or expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                recipient_emails:
                  type: array
                  items:
                    type: string
                  description: One or more email addresses to send the test to. Returns 422 if the daily test send limit has been reached.
              required:
              - recipient_emails
  /publications/{publicationId}/posts/{postId}/preview:
    get:
      operationId: preview
      summary: 'Generate post preview URL <Badge intent="info" minimal outlined>OAuth Scope: posts:read</Badge>'
      description: Generate a URL to preview a post as a given audience. The returned `preview_url` renders the post in the beehiiv app and requires a beehiiv session with access to the publication - it is not itself an HTML-returning endpoint.
      tags:
      - Posts
      parameters:
      - name: publicationId
        in: path
        description: The prefixed ID of the publication object
        required: true
        schema:
          $ref: '#/components/schemas/type_ids_PublicationId'
      - name: postId
        in: path
        description: The prefixed ID of the post object
        required: true
        schema:
          $ref: '#/components/schemas/type_ids_PostId'
      - name: platform
        in: query
        description: '`email` (default) or `web`.'
        required: false
        schema:
          type: string
      - name: subscriber_type
        in: query
        description: '`free` (default) or `premium`. `premium` requires `tier_ids` to be present. Ignored if `subscriber_id` is present.'
        required: false
        schema:
          type: string
      - name: tier_ids
        in: query
        description: One or more premium tier IDs to preview as. Only used when `subscriber_type` is `premium`. Ignored if `subscriber_id` is present.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/type_ids_TierId'
      - name: subscriber_id
        in: query
        description: Preview using a specific subscriber's real tier memberships. Takes precedence over `subscriber_type`/`tier_ids` when present.
        required: false
        schema:
          $ref: '#/components/schemas/type_ids_SubscriptionId'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_posts_PostsPreviewResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
        '401':
          description: Unauthorized. The API key or OAuth access token is missing, invalid, or expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Error'
components:
  schemas:
    type__PostClickStatsWeb:
      type: object
      properties:
        clicks:
          type: integer
        unique_clicks:
          type: integer
        click_through_rate:
          type: number
          format: double
          description: The percentage of clicks on the URL compared to the total number of web views
      description: Stats scoped only to web views. Not relevant for posts published only to email
      title: PostClickStatsWeb
    type_posts_ColumnVerticalAlignment:
      type: string
      enum:
      - top
      - middle
      - bottom
      title: ColumnVerticalAlignment
    type_ids_ExternalRssFeedId:
      type: string
      description: The prefixed ID of the external RSS feed.
      title: ExternalRssFeedId
    type_posts_PostEmailCaptureTypeOverride:
      type: string
      enum:
      - none
      - gated
      - popup
      title: PostEmailCaptureTypeOverride
    type_posts_BorderStyle:
      type: string
      enum:
      - solid
      - dashed
      - dotted
      title: BorderStyle
    type_posts_ColumnPosition:
      type: string
      enum:
      - left
      - right
      title: ColumnPosition
    type_posts_ReferralCondition:
      type: string
      enum:
      - eq
      - gt
      - lt
      title: ReferralCondition
    type__PostEmailRecipientsResponse:
      type: object
      properties:
        tier_ids:
          type: array
          items:
            type: string
          description: The tier IDs targeted for email. Values are `"free"`, `"premium"`, or a specific tier's prefixed ID.
        include_segment_ids:
          type: array
          items:
            $ref: '#/components/schemas/type_ids_SegmentId'
        exclude_segment_ids:
          type: array
          items:
            $ref: '#/components/schemas/type_ids_SegmentId'
      title: PostEmailRecipientsResponse
    type_posts_PostsListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/type__Post'
        limit:
          type: integer
          description: The limit placed on the results. If no limit was specified in the request,this defaults to 10.
        page:
          type: integer
          default: 1
          description: The page number the results are from. If no page was specified in the request, this defaults to page 1.
        total_results:
          type: integer
          description: The total number of results from all pages.
        total_pages:
          type: integer
          description: The total number of pages.
      required:
      - data
      - limit
      - page
      - total_results
      - total_pages
      title: PostsListResponse
    type_posts_PostsCreateResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/type__PostCreate'
      required:
      - data
      title: PostsCreateResponse
    type__PostRecipientsResponse:
      type: object
      properties:
        web:
          $ref: '#/components/schemas/type__PostWebRecipientsResponse'
          description: Web targeting configuration. Absent if the post has no web targets.
        email:
          $ref: '#/components/schemas/type__PostEmailRecipientsResponse'
          description: Email targeting configuration. Absent if the post has no email targets.
      description: The targeting configuration currently set on the post.
      title: PostRecipientsResponse
    type_posts_VisualSettings:
      type: object
      properties:
        background_color:
          type: string
          description: The background color of the block.
        text_color:
          type: string
          description: The text color of the block.
        border_color:
          type: string
          description: The border color of the block.
        border_style:
          $ref: '#/components/schemas/type_posts_BorderStyle'
          description: The border style of the block.
        border_width:
          type: integer
          description: The border width of the block.
        border_width_top:
          type: integer
          description: The border width of the top of the block.
        border_width_bottom:
          type: integer
          description: The border width of the bottom of the block.
        border_width_left:
          type: integer
          description: The border width of the left of the block.
        border_width_right:
          type: integer
          description: The border width of the right of the block.
        border_radius:
          type: integer
          description: The border radius of the block.
        border_radius_top_left:
          type: integer
          description: The border radius of the top left of the block.
        border_radius_top_right:
          type: integer
          description: The border radius of the top right of the block.
        border_radius_bottom_left:
          type: integer
          description: The border radius of the bottom left of the block.
        border_radius_bottom_right:
          type: integer
          description: The border radius of the bottom right of the block.
        inner_spacing:
          type: integer
          description: The inner spacing of the block.
        inner_spacing_top:
          type: integer
          description: The inner spacing of the top of the block.
        inner_spacing_bottom:
          type: integer
          description: The inner spacing of the bottom of the block.
        inner_spacing_left:
          type: integer
          description: The inner spacing of the left of the block.
        inner_spacing_right:
          type: integer
          description: The inner spacing of the right of the block.
        outer_spacing:
          type: integer
          description: The outer spacing of the block.
        outer_spacing_top:
          type: integer
          description: The outer spacing of the top of the block.
        outer_spacing_bottom:
          type: integer
          description: The outer spacing of the bottom of the block.
        outer_spacing_left:
          type: integer
          description: The outer spacing of the left of the block.
        outer_spacing_right:
          type: integer
          description: The outer spacing of the right of the block.
      title: VisualSettings
    type__PremiumPostContent:
      type: object
      properties:
        web:
          type: string
          description: The website HTML rendered to a free reader
        email:
          type: string
          description: The email HTML rendered to a premium reader
      description: The requested premium post HTML. This HTML does not have paywalls enforced.
      title: PremiumPostContent
    type_posts_PostEmailRecipients:
      type: object
      properties:
        tier_ids:
          type: array
          items:
            type: string
          description: The tier IDs to target. Accepts specific tier UUIDs or the special values `"free"`, `"premium"`, or `"all"`. When `"all"` is provided, targets all subscriber tiers — free subscribers, and premium subscribers if the publication has an active paid tier. Cannot be combined with `include_segment_ids`.
        include_segment_ids:
          type: array
          items:
            $ref: '#/components/schemas/type_ids_SegmentId'
          description: Cannot be combined with `tier_ids`.
        exclude_segment_ids:
          type: array
          items:
            $ref: '#/components/schemas/type_ids_SegmentId'
      title: PostEmailRecipients
    type__PostCreate:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/type_ids_PostId'
          description: The prefixed post id
        preview_url:
          type: string
          description: 'A stable URL to the post''s email preview in the beehiiv app. Renders the current post content on every visit. Requires a beehiiv session with access to the publication. The same URL is returned on every create, update, or show. Supports optional query parameters to preview as a specific audience: `platform` (`email` default, or `web`), `subscriber_type` (`free` default, or `premium` - requires `tier_ids[]`), `tier_ids[]` (one or more tier ids, only used when `subscriber_type=premium`), and `subscriber_id` (renders using that subscriber''s real tier memberships and takes precedence over `subscriber_type`/`tier_ids[]`).'
      required:
      - id
      title: PostCreate
    type_posts_HeadingLevel:
      type: string
      enum:
      - '1'
      - '2'
      - '3'
      - '4'
      - '5'
      - '6'
      description: The level of the header.
      title: HeadingLevel
    type__ErrorDetail:
      type: object
      properties:
        message:
          type: string
        code:
          type: string
      required:
      - message
      - code
      title: ErrorDetail
    type_posts_PostEmailSettings:
      type: object
      properties:
        from_address:
          type: string
        custom_live_url:
          type: string
        display_title_in_email:
          type: boolean
        display_byline_in_email:
          type: boolean
        display_subtitle_in_email:
          type: boolean
        email_header_engagement_buttons:
          type: string
        email_header_social_share:
          type: string
        email_preview_text:
          type: string
        email_subject_line:
          type: string
        reply_to_address:
          type: string
          description: Email address to set as Reply-To. Must be a verified reply-to address owned by the publication. Returns 422 if not found.
      title: PostEmailSettings
    type_posts_ConditionSetOperator:
      type: string
      enum:
      - and
      - or
      description: How multiple condition sets are combined when evaluating dynamic content targeting.
      title: ConditionSetOperator
    type_posts_PostWebSettings:
      type: object
      properties:
        display_subtitle_on_web:
          type: boolean
        display_thumbnail_on_web:
          type: boolean
        display_title_on_web:
          type: boolean
        hide_from_feed:
          type: boolean
        paywall_break_price_id:
          $ref: '#/components/schemas/type_ids_PriceId'
        paywall_id:
          $ref: '#/components/schemas/type_ids_PaywallId'
        slug:
          type: string
      title: PostWebSettings
    type_posts_RssCtaStyle:
      type: string
      enum:
      - CTA button
      - CTA link
      - Title as link
      - Thumbnail as link
      - Title and thumbnail as link
      description: The style of the call to action.
      title: RssCtaStyle
    type_posts_PostMetadata:
      type: object
      properties:
        default_description:
          type: string
        default_title:
          type: string
        og_description:
          type: string
        og_title:
          type: string
        twitter_description:
          type: string
        twitter_title:
          type: string
      title: PostMetadata
    type_ids_SubscriptionId:
      type: string
      description: The prefixed ID of the subscription.
      title: SubscriptionId
    type_posts_PostsDeleteResponse:
      type: object
      properties: {}
      title: PostsDeleteResponse
    type_posts_PostPlatformFilter:
      type: string
      enum:
      - web
      - email
      - both
      - all
      default: all
      title: PostPlatformFilter
    type_ids_TierId:
      type: string
      description: The prefixed ID of the tier.
      title: TierId
    type_posts_PostRecipients:
      type: object
      properties:
        web:
          $ref: '#/components/schemas/type_posts_PostWebRecipients'
          description: Web audience targeting. Omit this key to create no web targets.
        email:
          $ref: '#/components/schemas/type_posts_PostEmailRecipients'
          description: Email audience targeting. Omit this key to create no email targets.
      required:
      - web
      - email
      description: Controls who receives the post. If omitted entirely, defaults to free tier only on both web and email. If a channel key (web or email) is provided but empty, no targets are created for that channel — omit the key to skip a channel.
      title: PostRecipients
    type_posts_PostSocialShare:
      type: string
      enum:
      - comments_and_likes_only
      - with_comments_and_likes
      - top
      - none
      title: PostSocialShare
    type__PostProcessingState:
      type: string
      enum:
      - pending
      description: The background creation state of the post.
      title: PostProcessingState
    type__FreePostContent:
      type: object
      properties:
        web:
          type: string
          description: The web HTML rendered to a free or annonomous reader.
        email:
          type: string
          description: The email HTML rendered to a free reader.
        rss:
          type: string
          description: The HTML that is rendered in RSS feeds.
      description: The requested free post HTML. This HTML has paywalls enforced.
      title: FreePostContent
    type__PostPlatform:
      type: string
      enum:
      - web
      - email
      - both
      description: The platform that the post is or will be published to.
      title: PostPlatform
    type_posts_ColumnBlock:
      type: object
      properties:
        position:
          $ref: '#/components/schemas/type_posts_ColumnPosition'
          description: The column position. This field is deprecated but supported for existing column layouts.
        width:
          type: integer
          description: The column width percentage. When omitted, width is calculated automatically.
        verticalAlign:
          $ref: '#/components/schemas/type_posts_ColumnVerticalAlignment'
          description: The vertical alignment of the column content.
        blocks:
          type: array
          items:
            $ref: '#/components/schemas/type_posts_EmbeddableBlocks'
          description: The blocks that make up the column.
      required:
      - blocks
      title: ColumnBlock
    type__PostStatsWeb:
      type: object
      properties:
        views:
          type: integer
          default: 0
          description: Total number of web views
        clicks:
          type: integer
          default: 0
          description: Total number of web clicks
      description: Stats scoped only to web views. Not relevant for posts published only to email
      title: PostStatsWeb
    type_posts_PostExpandField:
      type: string
      enum:
      - stats
      - free_web_content
      - free_email_content
      - free_rss_content
      - premium_web_content
      - premium_email_content
      - recipients
      title: PostExpandField
    type_posts_PostsPreviewResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/type_posts_PostsPreviewData'
      required:
      - data
      title: PostsPreviewResponse
    type_posts_SectionableBlock:
      oneOf:
      - type: object
        properties:
          type:
            type: string
            enum:
            - paragraph
            description: 'Discriminator value: paragraph'
          visual_settings:
            $ref: '#/components/schemas/type_posts_VisualSettings'
            description: Optional styling for borders, spacing, colors, etc.
          visibility_settings:
            $ref: '#/components/schemas/type_posts_VisibilitySettings'
            description: Optional rules for when/where this block is shown, including dynamic content targeting via condition sets.
          plaintext:
            type: string
            description: The plaintext content of the paragraph.
          formattedText:
            type: array
            items:
              $ref: '#/components/schemas/type_posts_ParagraphBlockTextSection'
            description: The formatted content of the paragraph.
          textAlignment:
            $ref: '#/components/schemas/type_posts_TextAlignment'
            description: The text alignment of the paragraph (e.g., left, center, right).
          textAlign:
            $ref: '#/components/schemas/type_posts_TextAlignment'
            description: Legacy paragraph alignment field. Use `textAlignment` for new integrations.
        required:
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - image
            description: 'Discriminator value: image'
          visual_settings:
            $ref: '#/components/schemas/type_posts_VisualSettings'
            description: Optional styling for borders, spacing, colors, etc.
          visibility_settings:
            $ref: '#/components/schemas/type_posts_VisibilitySettings'
            description: Optional rules for when/where this block is shown, including dynamic content targeting via condition sets.
          imageUrl:
            type: string
            description: The URL of the image.
          url:
            type: string
            description: The URL that the image should link to.
          title:
            type: string
            description: The title of the image.
          alt_text:
            type: string
            description: Alternative text for the image.
          caption:
            type: string
            description: A caption for the image.
          imageAlignment:
            $ref: '#/components/schemas/type_posts_TextAlignment'
            description: The text alignment of the image.
          captionAlignment:
            $ref: '#/components/schemas/type_posts_TextAlignment'
            description: The text alignment of the caption.
          width:
            type: integer
            description: The width of the image. Should be between 1 and 100.
        required:
        - type
        - imageUrl
      - type: object
        properties:
          type:
            type: string
            enum:
            - button
            description: 'Discriminator value: button'
          visual_settings:
            $ref: '#/components/schemas/type_posts_VisualSettings'
            description: Optional styling for borders, spacing, colors, etc.
          visibility_settings:
            $ref: '#/components/schemas/type_posts_VisibilitySettings'
            description: Optional rules for when/where this block is shown, including dynamic content targeting via condition sets.
          href:
            type: string
            description: The URL the button should use.
          text:
            type: string
            description: The text content of the button.
          target:
            type: string
            description: The target of the button (e.g., _blank).
          alignment:
            $ref: '#/components/schemas/type_posts_TextAlignment'
            description: The text alignment of the button.
          size:
            $ref: '#/components/schemas/type_posts_Sizes'
            description: The size of the button (e.g., small, normal, large).
        required:
        - type
        - href
        - text
      - type: object
        properties:
          type:
            type: string
            enum:
            - heading
            description: 'Discriminator value: heading'
          visual_settings:
            $ref: '#/components/schemas/type_posts_VisualSettings'
            description: Optional styling for borders, spacing, colors, etc.
          visibility_settings:
            $ref: '#/components/schemas/type_posts_VisibilitySettings'
            description: Optional rules for when/where this block is shown, including dynamic content targeting via condition sets.
          level:
            $ref: '#/components/schemas/type_posts_HeadingLevel'
            description: The level of the header (e.g., 1, 2, 3, etc.).
          textAlignment:
            $ref: '#/components/schemas/type_posts_TextAlignment'
            description: The text alignment of the header (e.g., left, center, right).
          text:
            type: string
            description: The text content of the header. Ignored if `formattedText` is provided.
          formattedText:
            type: array
            items:
              $ref: '#/components/schemas/type_posts_ParagraphBlockTextSection'
            description: The formatted content of the header, supporting links and inline styling.
          anchorHeader:
            type: boolean
            default: true
            description: Whether the header should be an anchor header.
          anchorIncludeInToc:
            type: boolean
            default: true
            description: Whether the header should be included in the table of contents.
        required:
        - type
        - level
      - type: object
        properties:
          type:
            type: string
            enum:
            - rss
            description: 'Discriminator value: rss'
          visual_settings:
            $ref: '#/components/schemas/type_posts_VisualSettings'
            description: Optional styling for borders, spacing, colors, etc.
          visibility_settings:
            $ref: '#/components/schemas/type_posts_VisibilitySettings'
            description: Optional rules for when/where this block is shown, including dynamic content targeting via condition sets.
          externalRssFeedId:
            $ref: '#/components/schemas/type_ids_ExternalRssFeedId'
            description: The ID of the external RSS feed.
          rssFeedUrl:
            type: string
            description: The URL of the RSS feed.
          articleLayout:
            $ref: '#/components/schemas/type_posts_RssBlockLayout'
            description: The layout of the articles from the feed.
          selectionMode:
            $ref: '#/components/schemas/type_posts_RssSelectionMode'
            description: How to select feed articles, by count or time window.
          timeWindowHours:
            type: integer
            description: Trailing window in hours when selectionMode is time.
          articlesToShow:
            type: integer
            description: The number of articles to show from the feed.
          showCta:
            type: boolean
            description: Whether to show a call to action.
          ctaText:
            type: string
            description: The text of the call to action. Applicable if ctaStyle is button or link.
          ctaStyle:
            $ref: '#/components/schemas/type_posts_RssCtaStyle'
            description: The style of the call to action.
          ctaAlignment:
            $ref: '#/components/schemas/type_posts_RssCtaAlignment'
            description: The alignment of the call to action.
          refreshOnSend:
            type: boolean
            description: Whether or not to refresh the contents from the RSS feed before sending out the email.
          showArticleTitle:
            type: boolean
            description: Whether to show the article title.
          showArticleThumbnail:
            type: boolean
            description: Whether to show the article thumbnail.
          thumbnailPosition:
            $ref: '#/components/schemas/type_posts_RssThumbnailPosition'
            description: The position of the thumbnail.
          showAuthor:
            type: boolean
            description: Whether to show the author.
          showPublishedDate:
            type: boolean
            description: Whether to show the date the article was published
          showCategories:
            type: boolean
            description: Whether to show the categories.
          showDescription:
            type: boolean
            description: Whether to show the article description.
          showContent:
            type: boolean
            description: Whether to show the article content.
        required:
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - advertisement
            description: 'Discriminator value: advertisement'
          visual_settings:
            $ref: '#/components/schemas/type_posts_VisualSettings'
            description: Optional styling for borders, spacing, colors, etc.
          visibility_settings:
            $ref: '#/components/schemas/type_posts_VisibilitySettings'
            description: Optional rules for when/where this block is shown, including dynamic content targeting via condition sets.
          opportunity_id:
            type: string
            description: The ID of the Advertisement opportunity.
        required:
        - type
        - opportunity_id
      - type: object
        properties:
          type:
            type: string
            enum:
            - list
            description: 'Discriminator value: list'
          visual_settings:
            $ref: '#/components/schemas/type_posts_VisualSettings'
            description: Optional styling for borders, spacing, colors, etc.
          visibility_settings:
            $ref: '#/components/schemas/type_posts_VisibilitySettings'
            description: Optional rules for when/where this block is shown, including dynamic content targeting via condition sets.
          items:
            type: array
            items:
              $ref: '#/components/schemas/type_posts_ListBlockItem'
            description: The items in the list.
          listType:
            $ref: '#/components/schemas/type_posts_ListType'
            description: The type of list (e.g., ordered, unordered).
          startNumber:
            type: integer
            description: The number to start the list at. Only applicable if listType is ordered.
        required:
        - type
        - items
      - type: object
        properties:
          type:
            type: string
            enum:
            - table
            description: 'Discriminator value: table'
          visual_settings:
            $ref: '#/components/schemas/type_posts_VisualSettings'
            description: Optional styling for borders, spacing, colors, etc.
          visibility_settings:
            $ref: '#/components/schemas/type_posts_VisibilitySettings'
            description: Optional rules for when/where this block is shown, including dynamic content targeting via condition sets.
          rows:
            type: array
            items:
              type: array
              items:
                $ref: '#/components/schemas/type_posts_TableCellData'
            description: The rows of the table.
          headerRow:
            type: boolean
            default: true
            description: Whether the first row is a header row.
          headerColumn:
            type: boolean
            default: false
            description: Whether the first column is a header column.
        required:
        - type
        - rows
      - type: object
        properties:
          type:
            type: string
            enum:
            - html
            description: 'Discriminator value: html'
          visual_settings:
            $ref: '#/components/schemas/type_posts_VisualSettings'
            description: Optional styling for borders, spacing, colors, etc.
          visibility_settings:
            $ref: '#/components/schemas/type_posts_VisibilitySettings'
            description: Optional rules for when/where this block is shown, including dynamic content targeting via condition sets.
          html:
            type: string
            description: The raw HTML content. Note that `<style>` and `<link>` tags are removed during sanitization — use inline styles for all visual styling.
        required:
        - type
        - html
      - type: object
        properties:
          type:
            type: string
            enum:
            - embed_link
            description: 'Discriminator value: embed_link'
          visual_settings:
            $ref: '#/components/schemas/type_posts_VisualSettings'
            description: Optional styling for borders, spacing, colors, etc.
          visibility_settings:
            $ref: '#/components/schemas/type_posts_VisibilitySettings'
            description: Optional rules for when/where this block is shown, including dynamic content targeting via condition sets.
          url:
            type: string
            description: The URL of the embed link.
        required:
        - type
        - url
      - type: object
        properties:
          type:
            type: string
            enum:
            - poll
            description: 'Discriminator value: poll'
          visual_settings:
            $ref: '#/components/schemas/type_posts_VisualSettings'
            description: Optional styling for borders, spacing, colors, etc.
          visibility_settings:
            $ref: '#/components/schemas/type_posts_VisibilitySettings'
            description: Optional rules for when/where this block is shown, including dynamic content targeting via condition sets.
          poll_id:
            $ref: '#/components/schemas/type_ids_PollId'
            description: The ID of the poll you wish to include.
          show_options_initially:
            type: boolean
            description: Whether to show the poll options initially. Defaults to false.
        required:
        - type
        - poll_id
      - type: object
        properties:
          type:
            type: string
            enum:
            - quote
            description: 'Discriminator value: quote'
          visual_settings:
            $ref: '#/components/schemas/type_posts_VisualSettings'
            description: Optional styling for borders, spacing, colors, etc.
          visibility_settings:
            $ref: '#/components/schemas/type_posts_VisibilitySettings'
            description: Optional rules for when/where this block is shown, including dynamic content targeting via condition sets.
          variant:
            $ref: '#/components/schemas/type_posts_QuoteVariant'
            description: The type of quote block. Defaults to "block".
          quote:
            type: string
            description: The text of the quote.
          alignment:
            $ref: '#/components/schemas/type_posts_TextAlignment'
            description: The text alignment of the quote. Defaults depend on the variant.
          author:
            type: string
            description: The author of the quote.
        required:
        - type
        - quote
      - type: object
        properties:
          type:
            type: string
            enum:
            - content_break
            description: 'Discriminator value: content_break'
        required:
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - paywall_break
            description: 'Discriminator value: paywall_break'
          paywall_id:
            $ref: '#/components/schemas/type_ids_PaywallId'
            description: The ID of the paywall.
        required:
        - type
        - paywall_id
      discriminator:
        propertyName: type
      description: A block that can appear inside a section. Excludes `section` and `columns` (TipTap's schema does not allow nested sections).
      title: SectionableBlock
    type_ids_PostId:
      type: string
      description: The prefixed ID of the post.
      title: PostId
    type_ids_PollId:
      type: string
      description: The prefixed ID of the poll.
      title: PollId
    type_ids_PublicationId:
      type: string
      description: The prefixed ID of the publication.
      title: PublicationId
    type__ClickStats:
      type: object
      properties:
        url:
          type: string
          description: The URL the stats are for
        base_url:
          type: string
          description: The canonical URL with all query parameters and fragments removed. Derived by stripping everything after the '?' and '#' characters. Preserves the protocol, host (including casing), port, and path exactly as they appear in the original URL. Guaranteed to be present whenever url is present, enabling grouping of clicks by destination regardless of tracking parameters.
        email:
          $ref: '#/components/schemas/type__PostClickStatsEmail'
          description: URL stats scoped only to email recipients. Not relevant for posts published only to web
        web:
          $ref: '#/components/schemas/type__PostClickStatsWeb'
          description: Stats scoped only to web views. Not relevant for posts published only to email
        total_clicks:
          type: integer
        total_unique_clicks:
          type: integer
        total_click_through_rate:
          type: number
          format: double
          description: The percentage of clicks on the URL compared to the total number of recipients and web views
      description: Details about specific URL's click stats from a post.
      title: ClickStats
    type_posts_PostsAggregateStatsResponseStats:
      type: object
      properties:
        stats:
          $ref: '#/components/schemas/type__PostStats'
      required:
      - stats
      title: PostsAggregateStatsResponseStats
    type_posts_ParagraphBlockTextSection:
      type: object
      properties:
        text:
          type: string
          description: The text content of the paragraph.
        styling:
          type: array
          items:
            $ref: '#/components/schemas/type_posts_ParagraphBlockTextStyle'
          description: The inline styles for the text.
        text_color:
          type: string
          description: The CSS color value for the text.
        highlight_color:
          type: string
          description: The CSS color value for the text highlight.
        link:
          $ref: '#/components/schemas/type_posts_Link'
          description: The link of the text.
      required:
      - text
      title: ParagraphBlockTextSection
    type_posts_PostPublishStatus:
      type: string
      enum:
      - draft
      - confirmed
      default: draft
      title: PostPublishStatus
    type_ids_PostTemplateId:
      type: string
      description: The prefixed ID of the post template.
      title: PostTemplateId
    type__PostStatsEmail:
      type: object
      properties:
        recipients:
          type: integer
          default: 0
          description: Total number of email recipients
        delivered:
          type: integer
          default: 0
          description: Total number of emails delivered
        opens:
          type: integer
          default: 0
          description: Total number of email opens
        unique_opens:
          type: integer
          default: 0
          description: Total number of unique email opens
        open_rate:
          type: number
          format: double
          description: The percentage of emails that have been opened
        clicks:
          type: integer
          default: 0
          description: Total number of email clicks
        unique_clicks:
          type: integer
          default: 0
          description: Unique number of email clicks
        verified_clicks:
          type: integer
          default: 0
          description: Total number of verified human email clicks across all URLs in this post. Verified clicks have passed bot detection and are confirmed to be from real subscribers.
        unique_verified_clicks:
          type: integer
          default: 0
          description: Unique number of verified human email clicks across all URLs in this post. Only counts the first verified click per subscriber.
        click_rate:
          type: number
          format: double
          description: The percentage of emails that have been clicked
        unsubscribes:
          type: integer
          default: 0
          description: Total number of email unsubscribes
        spam_reports:
          type: integer
          default: 0
          description: The number of subscribers that reported this post email as spam
      description: Stats scoped only to email recipients. Not relevant for posts published only to web
      title: PostStatsEmail
    type_ids_PaywallId:
      type: string
      description: The prefixed ID of the paywall.
      title: PaywallId
    type__Error:
      type: object
      properties:
        status:
          type: integer
        statusText:
          type: string
        errors:
          type: array
          items:
            $ref: '#/components/schemas/type__ErrorDetail'
      required:
      - status
      - statusText
      - errors
      description: The top level error response.
      title: Error
    type_posts_ParagraphBlockTextStyle:
      type: string
      enum:
      - bold
      - italic
      - underline
      - strikethrough
      description: Inline formatting to apply to a formatted text section. `strikethrough` renders as a strike mark.
      title: ParagraphBlockTextStyle
    type_posts_ContentMergeStrategy:
      type: string
      enum:
      - replace
      - append_to_template
      - append
      - prepend
      description: Controls how provided blocks interact with the post's existing content on update.
      title: ContentMergeStrategy
    type_posts_PostsGetResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/type__Post'
      required:
      - data
      title: PostsGetResponse
    type__PostStatus:
      type: string
      enum:
      - draft
      - confirmed
      - archived
      default: draft
      description: The status of the post.<br>`draft` - not been scheduled.<br>`confirmed` - The post will be active after the `scheduled_at`.<br>`archived` - The post is no longer active.
      title: PostStatus
    type_posts_PostsPreviewData:
      type: object
      properties:
        preview_url:
          type: string
          description: A URL to the post's preview in the beehiiv app, parameterized by the given audience simulation. Requires a beehiiv session with access to the publication.
      required:
      - preview_url
      title: PostsPreviewData
    type_posts_PostStatusFilter:
      type: string
      enum:
      - draft
      - confirmed
      - archived
      - all
      default: all
      title: PostStatusFilter
    type_posts_PostsTestSendResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/type_posts_PostsTestSendData'
      required:
      - data
      title: PostsTestSendResponse
    type_posts_RssThumbnailPosition:
      type: string
      enum:
      - Above Title
      - Below Title
      - Left of content
      - Right of content
      - Alternating Horizontally
      description: The position of the thumbnail.
      title: RssThumbnailPosition
    type_posts_AutomatedAdvertisementKind:
      type: string
      enum:
      - primary
      - secondary
      title: AutomatedAdvertisementKind
    type_ids_TeamAuthorId:
      type: string
      description: The prefixed ID of the team author (platform user).
      title: TeamAuthorId
    type_posts_ListBlockItem:
      oneOf:
      - type: string
      - $ref: '#/components/schemas/type_posts_ListBlockItemData'
      description: A list item as either plain text or formatted text data.
      title: ListBlockItem
    type_posts_RssCtaAlignment:
      type: string
      enum:
      - Left
      - Center
      - Right
      description: The alignment of the call to action.
      title: RssCtaAlignment
    type_ids_GuestAuthorId:
      type: string
      description: The prefixed ID of the guest author.
      title: GuestAuthorId
    type_posts_Block:
      oneOf:
      - type: object
        properties:
          type:
            type: string
            enum:
            - paragraph
            description: 'Discriminator value: paragraph'
          visual_settings:
            $ref: '#/components/schemas/type_posts_VisualSettings'
            description: Optional styling for borders, spacing, colors, etc.
          visibility_settings:
            $ref: '#/components/schemas/type_posts_VisibilitySettings'
            description: Optional rules for when/where this block is shown, including dynamic content targeting via condition sets.
          plaintext:
            type: string
            description: The plaintext content of the paragraph.
          formattedText:
            type: array
            items:
              $ref: '#/components/schemas/type_posts_ParagraphBlockTextSection'
            description: The formatted content of the paragraph.
          textAlignment:
            $ref: '#/components/schemas/type_posts_TextAlignment'
            description: The text alignment of the paragraph (e.g., left, center, right).
          textAlign:
            $ref: '#/components/schemas/type_posts_TextAlignment'
            description: Legacy paragraph alignment field. Use `textAlignment` for new integrations.
        required:
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - image
            description: 'Discriminator value: image'
          visual_settings:
            $ref: '#/components/schemas/type_posts_VisualSettings'
            description: Optional styling for borders, spacing, colors, etc.
          visibility_settings:
            $ref: '#/components/schemas/type_posts_VisibilitySettings'
            description: Optional rules for when/where this block is shown, including dynamic content targeting via condition sets.
          imageUrl:
            type: string
            description: The URL of the image.
          url:
            type: string
            description: The URL that the image should link to.
          title:
            type: string
            description: The title of the image.
          alt_text:
            type: string
            description: Alternative text for the image.
          caption:
            type: string
            description: A caption for the image.
          imageAlignment:
            $ref: '#/components/schemas/type_posts_TextAlignment'
            description: The text alignment of the image.
          captionAlignment:
            $ref: '#/components/schemas/type_posts_TextAlignment'
            description: The text alignment of the caption.
          width:
            type: integer
            description: The width of the image. Should be between 1 and 100.
        required:
        - type
        - imageUrl
      - type: object
        properties:
          type:
            type: string
            enum:
            - button
            description: 'Discriminator value: button'
          visual_settings:
            $ref: '#/components/schemas/type_posts_VisualSettings'
            description: Optional styling for borders, spacing, colors, etc.
          visibility_settings:
            $ref: '#/components/schemas/type_posts_VisibilitySettings'
            description: Optional rules for when/where this block is shown, including dynamic content targeting via condition sets.
          href:
            type: string
            description: The URL the button should use.
          text:
            type: string
            description: The text content of the button.
          target:
            type: string
            description: The target of the button (e.g., _blank).
          alignment:
            $ref: '#/components/schemas/type_posts_TextAlignment'
            description: The text alignment of the button.
          size:
            $ref: '#/components/schemas/type_posts_Sizes'
            description: The size of the button (e.g., small, normal, large).
        required:
        - type
        - href
        - text
      - type: object
        properties:
          type:
            type: string
            enum:
            - heading
            description: 'Discriminator value: heading'
          visual_settings:
            $ref: '#/components/schemas/type_posts_VisualSettings'
            description: Optional styling for borders, spacing, colors, etc.
          visibility_settings:
            $ref: '#/components/schemas/type_posts_VisibilitySettings'
            description: Optional rules for when/where this block is shown, including dynamic content targeting via condition sets.
          level:
            $ref: '#/components/schemas/type_posts_HeadingLevel'
            description: The level of the header (e.g., 1, 2, 3, etc.).
          textAlignment:
            $ref: '#/components/schemas/type_posts_TextAlignment'
            description: The text alignment of the header (e.g., left, center, right).
          text:
            type: string
            description: The text content of the header. Ignored if `formattedText` is provided.
          formattedText:
            type: array
            items:
              $ref: '#/components/schemas/type_posts_ParagraphBlockTextSection'
            description: The formatted content of the header, supporting links and inline styling.
          anchorHeader:
            type: boolean
            default: true
            description: Whether the header should be an anchor header.
          anchorIncludeInToc:
            type: boolean
            default: true
            description: Whether the header should be included in the table of contents.
        required:
        - type
        - level
      - type: object
        properties:
          type:
            type: string
            enum:
            - rss
            description: 'Discriminator value: rss'
          visual_settings:
            $ref: '#/components/schemas/type_posts_VisualSettings'
            description: Optional styling for borders, spacing, colors, etc.
          visibility_settings:
            $ref: '#/components/schemas/type_posts_VisibilitySettings'
            description: Optional rules for when/where this block is shown, including dynamic content targeting via condition sets.
          externalRssFeedId:
            $ref: '#/components/schemas/type_ids_ExternalRssFeedId'
            description: The ID of the external RSS feed.
          rssFeedUrl:
            type: string
            description: The URL of the RSS feed.
          articleLayout:
            $ref: '#/components/schemas/type_posts_RssBlockLayout'
            description: The layout of the articles from the feed.
          selectionMode:
            $ref: '#/components/schemas/type_posts_RssSelectionMode'
            description: How to select feed articles, by count or time window.
          timeWindowHours:
            type: integer
            description: Trailing window in hours when selectionMode is time.
          articlesToShow:
            type: integer
            description: The number of articles to show from the feed.
          showCta:
            type: boolean
            description: Whether to show a call to action.
          ctaText:
            type: string
            description: The text of the call to action. Applicable if ctaStyle is button or link.
          ctaStyle:
            $ref: '#/components/schemas/type_posts_RssCtaStyle'
            description: The style of the call to action.
          ctaAlignment:
            $ref: '#/components/schemas/type_posts_RssCtaAlignment'
            description: The alignment of the call to action.
          refreshOnSend:
            type: boolean
            description: Whether or not to refresh the contents from the RSS feed before sending out the email.
          showArticleTitle:
            type: boolean
            description: Whether to show the article title.
          showArticleThumbnail:
            type: boolean
            description: Whether to show the article thumbnail.
          thumbnailPosition:
            $ref: '#/components/schemas/type_posts_RssThumbnailPosition'
            description: The position of the thumbnail.
          showAuthor:
            type: boolean
            description: Whether to show the author.
          showPublishedDate:
            type: boolean
            description: Whether to show the date the article was published
          showCategories:
            type: boolean
            description: Whether to show the categories.
          showDescription:
            type: boolean
            description: Whether to show the article description.
          showContent:
            type: boolean
            description: Whether to show the article content.
        required:
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - advertisement
            description: 'Discriminator value: advertisement'
          visual_settings:
            $ref: '#/components/schemas/type_posts_VisualSettings'
            description: Optional styling for borders, spacing, colors, etc.
          visibility_settings:
            $ref: '#/components/schemas/type_posts_VisibilitySettings'
            description: Optional rules for when/where this block is shown, including dynamic content targeting via condition sets.
          opportunity_id:
            type: string
            description: The ID of the Advertisement opportunity.
        required:
        - type
        - opportunity_id
      - type: object
        properties:
          type:
            type: string
            enum:
            - automated_advertisement_placement
            description: 'Discriminator value: automated_advertisement_placement'
          visual_settings:
            $ref: '#/components/schemas/type_posts_VisualSettings'
            description: Optional styling for borders, spacing, colors, etc.
          visibility_settings:
            $ref: '#/components/schemas/type_posts_VisibilitySettings'
            description: Optional rules for when/where this block is shown, including dynamic content targeting via condition sets.
          advertisement_kind:
            $ref: '#/components/schemas/type_posts_AutomatedAdvertisementKind'
            description: The automated advertisement kind to fill at publish time.
        required:
        - type
        - advertisement_kind
      - type: object
        properties:
          type:
            type: string
            enum:
            - columns
            description: 'Discriminator value: columns'
          visual_settings:
            $ref: '#/components/schemas/type_posts_VisualSettings'
            description: Optional styling for borders, spacing, colors, etc.
          visibility_settings:
            $ref: '#/components/schemas/type_posts_VisibilitySettings'
            description: Optional rules for when/where this block is shown, including dynamic content targeting via condition sets.
          stackOnMobile:
            type: boolean
            default: true
            description: Whether columns should stack vertically on mobile devices.
          columns:
            type: array
            items:
              $ref: '#/components/schemas/type_posts_ColumnBlock'
            description: The blocks that make up the columns.
        required:
        - type
        - columns
      - type: object
        properties:
          type:
            type: string
            enum:
            - list
            description: 'Discriminator value: list'
          visual_settings:
            $ref: '#/components/schemas/type_posts_VisualSettings'
            description: Optional styling for borders, spacing, colors, etc.
          visibility_settings:
            $ref: '#/components/schemas/type_posts_VisibilitySettings'
            description: Optional rules for when/where this block is shown, including dynamic content targeting via condition sets.
          items:
            type: array
            items:
              $ref: '#/components/schemas/type_posts_ListBlockItem'
            description: The items in the list.
          listType:
            $ref: '#/components/schemas/type_posts_ListType'
            description: The type of list (e.g., ordered, unordered).
          startNumber:
            type: integer
            description: The number to start the list at. Only applicable if listType is ordered.
        required:
        - type
        - items
      - type: object
        properties:
          type:
            type: string
            enum:
            - table
            description: 'Discriminator value: table'
          visual_settings:
            $ref: '#/components/schemas/type_posts_VisualSettings'
            description: Optional styling for borders, spacing, colors, etc.
          visibility_settings:
            $ref: '#/components/schemas/type_posts_VisibilitySettings'
            description: Optional rules for when/where this block is shown, including dynamic content targeting via condition sets.
          rows:
            type: array
            items:
              type: array
              items:
                $ref: '#/components/schemas/type_posts_TableCellData'
            description: The rows of the table.
          headerRow:
            type: boolean
            default: true
            description: Whether the first row is a header row.
          headerColumn:
            type: boolean
            default: false
            description: Whether the first column is a header column.
        required:
        - type
        - rows
      - type: object
        properties:
          type:
            type: string
            enum:
            - html
            description: 'Discriminator value: html'
          visual_settings:
            $ref: '#/components/schemas/type_posts_VisualSettings'
            description: Optional styling for borders, spacing, colors, etc.
          visibility_settings:
            $ref: '#/components/schemas/type_posts_VisibilitySettings'
            description: Optional rules for when/where this block is shown, including dynamic content targeting via condition sets.
          html:
            type: string
            description: The raw HTML content. Note that `<style>` and `<link>` tags are removed during sanitization — use inline styles for all visual styling.
        required:
        - type
        - html
      - type: object
        properties:
          type:
            type: string
            enum:
            - embed_link
            description: 'Discriminator value: embed_link'
          visual_settings:
            $ref: '#/components/schemas/type_posts_VisualSettings'
            description: Optional styling for borders, spacing, colors, etc.
          visibility_settings:
            $ref: '#/components/schemas/type_posts_VisibilitySettings'
            description: Optional rules for when/where this block is shown, including dynamic content targeting via condition sets.
          url:
            type: string
            description: The URL of the embed link.
        required:
        - type
        - url
      - type: object
        properties:
          type:
            type: string
            enum:
            - poll
[...]
